  <div class="container-body-color">
    <div class="container">
      <div align="center">
        <div class="row">
          <div class="col-md-12"><div class="div-height"><br></div></div>
        </div>
    
        <div class="row border rounded row-color">
          <div class="col-md-12"><br></div>
    
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <h4>{{ $.Title }}</h4>
            <span class="posted-on">Published on {{ .Date | dateFormat "2006"}}-{{ .Date | dateFormat "01"}}-{{ .Date | dateFormat "02"}}</span><hr>
          </div>
          <div class="col-md-1"></div>
    
          <div class="col-md-12"><br></div>

          <div class="col-md-1"></div>
          <div class="col-md-10 text-left">
            {{ $.Content }}
          </div>
          <div class="col-md-1"></div>

          <div class="col-md-1"></div>
          <div class="col-md-10">
            <hr>
            {{ partial "share-buttons.html" . }}
            <hr>
            <h5>Comments</h5>
            {{ $comment_prefix := "/data/comments/" }}
            {{ $post_comment_path := (print $comment_prefix $.Params.page_id) }}
            {{ $test_comment_path := readDir $post_comment_path }}
            <table width="75%">
            {{ with $test_comment_path }}
              {{ range (index $.Site.Data.comments $.Params.page_id) }}
                  <tr>
                    <td><b>Name: </b>{{ .name }}</td>
                  </tr>
                  <tr>
                    <td><b>Site: </b><a href="https://{{ .site }}">{{ .site }}</a></td>
                  </tr>
                  <tr>
                    <td><b>Posted on: </b>{{ .comment_date }}</td>
                  </tr>
                  <tr>
                    <td>{{ .comment | markdownify}}</td>
                  </tr>
              {{ end }}
            {{ else }}
              <tr>
                <td>Be the first to leave a comment!</td>
              </tr>
            {{ end }}
            </table>
            <br><br>
          </div>
          <div class="col-md-1"></div>

          <div class="col-md-12"><br></div>
        </div>

        <div class="row">
          <div class="col-md-12"><div class="div-height"><br></div></div>
        </div>
    </div>
  </div>
