  <div class="container-body-color">
    <div class="container">
      <div align="center">
        <div class="row">
          <div class="col-md-12"><div class="div-height"><br></div></div>
        </div>
    
        <div class="row border rounded row-color">
          <div class="col-md-12"><br></div>
    
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <h4>{{ $.Title }}</h4>
            <span class="posted-on">Published on {{ .Date | dateFormat "2006"}}-{{ .Date | dateFormat "01"}}-{{ .Date | dateFormat "02"}}</span><hr>
          </div>
          <div class="col-md-1"></div>
    
          <div class="col-md-12"><br></div>

          <div class="col-md-1"></div>
          <div class="col-md-10 text-left">
            {{ $.Content }}
          </div>
          <div class="col-md-1"></div>

          <div class="col-md-1"></div>
          <div class="col-md-10">
            <hr>
            {{ partial "share-buttons.html" . }}
            <hr>
            <h5>Comments</h5>
            Leave a new comment below:<br><br>
            <center>
              comment shizzle<br><br>
              <form id="commentform">
                Name: <input type="text" id="fname"><br>
                Site: <input type="text" id="fsite"><br>
                Comment: <textarea type="text" name="fcomment" id="fcomment" value="Type your post here" cols="40" rows="5"></textarea><br>
                <input type="button" value="Click me" onclick="msg()"><br>
              </form>
              
              
              <p id="demo"></p>
              </center>
              <script>
              
              
              
              // shit fixen voor user feedback afhankelijk van 200 of 400
              
              //var url = window.location.pathname
              var url = "http://localhost:1313/blogs/20181103-announcing-some-lab-time-changes/"
              var arr = new Array()
              arr = url.split("/")
              page_name = arr.slice(arr.length -2).join("")
              page_name = "_" + page_name.replace(/-/g, "_")
              var postvar2 = {
                  "user_name"    : "klaas",
                  "user_site"    : "google.nl",
                  "page_name"    : page_name,
                  "comment_data" : "line 1 &\n line 2",
              }
              
              //var json_upload = "json_name=" + JSON.stringify(postvar)
              var xmlhttp = new XMLHttpRequest()
              xmlhttp.onreadystatechange = function() {
                  if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                      var output = JSON.parse(xmlhttp.responseText)
                      var ml = "HTTP response: " + output.statusCode + " "
                      if (output.statusCode == 200) {
                          ml = ml + "successful request"
                      } else if (output.statusCode == 400) {
                          ml = ml + "bad request"
                      }
                      ml = ml + "<br>"
                      ml = ml + output.body
                      document.getElementById("demo").innerHTML = ml
                      
                  }
              }
              
              function msg() {
                //var user_name = document.getElementById("fname").value
                var postvar = {
                    "user_name"    : document.getElementById("fname").value,
                    "user_site"    : document.getElementById("fsite").value,
                    "page_name"    : page_name,
                    "comment_data" : document.getElementById("fcomment").value,
                }
                xmlhttp.open("POST", "https://api.lab-time.it/v1")
                xmlhttp.setRequestHeader("Content-Type", "application/json")
                xmlhttp.send(JSON.stringify(postvar))
              }
              
              </script>


            
            {{ $comment_prefix := "/data/comments/" }}
            {{ $post_comment_path := (print $comment_prefix $.Params.page_id) }}
            {{ $test_comment_path := readDir $post_comment_path }}
            <font size="2">
            <table width="75%">
              <tr>
                <td><hr></td>
              </tr>
            {{ with $test_comment_path }}
              {{ range (index $.Site.Data.comments $.Params.page_id) }}
                  <tr>
                    <td><b>Name: </b>{{ .user_name }}</td>
                  </tr>
                  <tr>
                    <td><b>Site: </b><a href="https://{{ .user_site }}">{{ .user_site }}</a></td>
                  </tr>
                  <tr>
                    <td><b>Posted on: </b>{{ .comment_date }}</td>
                  </tr>
                  <tr>
                    <td>{{ .comment | markdownify}}</td>
                  </tr>
                  <tr>
                    <td><hr></td>
                  </tr>
              {{ end }}
            {{ end }}
            </table>
            </font>
            <br><br>
          </div>
          <div class="col-md-1"></div>

          <div class="col-md-12"><br></div>
        </div>

        <div class="row">
          <div class="col-md-12"><div class="div-height"><br></div></div>
        </div>
    </div>
  </div>
